body{
    margin-left: 2% !important;
    margin-right: 2% !important;
}

.navbar{
    background: darkgreen !important;
}

.navbar-brand{
    color: wheat !important;
    font-weight: bolder;
}

.nav-item{
    color: wheat !important;
}

.jumbotron{
    height: 25vh;
    background: goldenrod;
    color: darkgreen;
    font-family: sans-serif;
    font-weight: bolder;
}

.sideNav{
    position: fixed;
    height: 15%;
}

.nav-link{
    color: darkgreen;
    font-weight: bolder;
}

.cardPic{
    height: 100%;
}

.cardContent{
    height: 100%;
}